.top-bar {
  background-color: var(--color-brand);
  color: var(--color-neutral);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 75px;
  box-shadow: 0 0 2px 0 var(--color-brand);
}

.app-title {
  margin: 0;
  margin-left: 20px;
}
.app-title a {
  color: inherit;
  text-decoration: none;
}

.nav-container {
  height: 100%;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 45px;
  list-style: none;
  height: 100%;
}

.nav-item {
  padding: 0;
  height: 100%;
  position: relative;
}

.nav-link {
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 25px;
  transition: background-color 0.2s ease;
}
.nav-link:hover {
  background-color: rgba(var(--color-neutral-base), 0.05);
}
.nav-link:active {
  background-color: rgba(var(--color-neutral-base), 0.08);
}

.active-marker {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  height: 4px;
  background-color: var(--color-tonic);
}

.main-content {
  --content-padding: 55px;
  padding: 0 var(--content-padding);
  max-width: calc(1024px + 2 * var(--content-padding));
  margin: auto;
}

.main-content h2 {
  font-size: 2rem;
}
