@keyframes select-appear {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes select-disappear {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
.select-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.option-container {
  position: absolute;
  margin: 10px 0 0 0;
  border: 1px solid #cccccc;
  box-shadow: 0 0 8px -3px #333333;
  background: white;
  border-radius: 5px;
  list-style: none;
  padding: 5px 0;
  animation: select-appear 0.3s forwards;
  max-height: 250px;
  overflow-y: auto;
}
.option-container.isClosing {
  animation: select-disappear 0.3s forwards;
}

.option {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 5px 15px;
  cursor: pointer;
}

.option.selected {
  font-weight: bold;
}
.option:hover,
.option:focus {
  background-color: aliceblue;
  outline: none;
}
