.current-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid rgb(197, 197, 197);
  height: 24px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.current-selection::after {
  content: "◢";
  transform: rotate(45deg);
  transform-origin: top;
  font-size: 0.5rem;
  color: #333333;
}
