.date-input:hover::-webkit-calendar-picker-indicator,
.date-input:focus::-webkit-calendar-picker-indicator {
  transform: translateY(1px);
}

.date-input::-webkit-datetime-edit {
  font-family: sans-serif;
  font-size: 0.8rem;
}

.date-input::-webkit-datetime-edit-day-field,
.date-input::-webkit-datetime-edit-month-field,
.date-input::-webkit-datetime-edit-year-field {
  margin: -1px;
}
