.create-employee-title {
  width: 500px;
  margin: 20px auto 0 auto;
}

.employee-form {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.address {
  margin: 40px 0 0 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.save-employee-button {
  display: block;
  margin: auto;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-success);
  padding: 10px 25px;
  color: white;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.save-employee-button:hover {
  background-color: var(--color-success-darken);
}

.save-employee-button:active {
  background-color: var(--color-success-lighten);
}
