body {
  margin: 0;
}

.flex-column-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.save-employee-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}
