:root {
  --color-brand-base: 31, 30, 34;

  --color-tonic-base: 53, 135, 164;

  --color-neutral-base: 244, 242, 243;

  --color-error-base: 227, 101, 91;

  --color-brand: rgb(var(--color-brand-base));
  --color-tonic: rgb(var(--color-tonic-base));
  --color-neutral: rgb(var(--color-neutral-base));

  --color-success-hue-sat: 119, 22%;
  --color-success-lightness: 45%;

  --color-success: hsl(
    var(--color-success-hue-sat),
    var(--color-success-lightness)
  );
  --color-success-darken: hsl(
    var(--color-success-hue-sat),
    calc(var(--color-success-lightness) - 5%)
  );
  --color-success-lighten: hsl(
    var(--color-success-hue-sat),
    calc(var(--color-success-lightness) + 3%)
  );

  --color-error: rgb(var(--color-error-base));

  --color-text: var(--color-brand);
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  color: var(--color-text);
  background-color: var(--color-neutral);
}

body {
  margin: 0;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

