:root {
  --color-brand-base: 31, 30, 34;

  /* --color-tonic-base: 137, 96, 142; */
  --color-tonic-base: 53, 135, 164;

  --color-neutral-base: 244, 242, 243;

  --color-success-base: 91, 140, 90;
  --color-error-base: 227, 101, 91;

  --color-brand: rgb(var(--color-brand-base));
  --color-tonic: rgb(var(--color-tonic-base));
  --color-neutral: rgb(var(--color-neutral-base));
  --color-success: rgb(var(--color-success-base));
  --color-error: rgb(var(--color-error-base));

  --color-text: var(--color-brand);
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  color: var(--color-text);
  background-color: var(--color-neutral);
}

body {
  margin: 0;
}

.flex-column-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.save-employee-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.creation-notification-modal {
  padding: 15px 30px;
  width: 440px;
  box-shadow: 0 0 10px #000;
  background-color: white;
  border-radius: 8px;
}
